.pure-button-primary {
    background-color: #205bb0;
}

.pure-menu-link {
    color: white;
    cursor: pointer;
    user-select: none;
}

.pure-menu-link:hover {
    background-color: transparent;
    color: #e75c29
}

.pure-menu-link:focus {
    background-color: transparent;
}

.pure-form select:focus {
    border-color: #205bb0;
}

