.violin-tool-tip, .heat-map-tool-tip {
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid black;
    border-radius: 2.5px;
    padding: 4px;
    font-size: 12px;
}

.lsv-single-compact-percentiles {
    width: 20px;
    height: 80px;
    border: 2pt solid darkgrey;
}