{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/lsvtools.js') }}"></script>
    <script>
        const legend = document.querySelector('.legend');
        new Lsv().renderFloatingLegend(legend)
    </script>
    {% block analysis_type_script %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="menu pure-menu pure-menu-horizontal">
        <a href class="pure-menu-heading">
            <img height="30" src="{{ url_for('static', filename='img/LogoOnly_white.svg') }}">
        </a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="{{ url_for('index') }}" class="pure-menu-link">Index</a>
            </li>
            <li class="pure-menu-item">
                <span class="tools-menu-btn splice-graph-tools pure-menu-link">Splice Graph</span>
            </li>
            {#            <li class="pure-menu-item">#}
            {#                <span class="tools-menu-btn lsv-tools pure-menu-link">LSV</span>#}
            {#            </li>#}
        </ul>

        <ul class="menu-right pure-menu-list">
            <li class="pure-menu-item">
                <img height="30" class="prev-gene pure-menu-link"
                     src="{{ url_for('static', filename='img/left_arrow.svg') }}">
            </li>
            <li class="pure-menu-item">
                <img height="30" class="next-gene pure-menu-link"
                     src="{{ url_for('static', filename='img/right_arrow.svg') }}">
            </li>

        </ul>
    </div>

    <div class="gene-header">
        <div>
            <div class="gene-name">Gene
                name: {{ gene.name }}; {{ gene.chromosome }}:{{ gene.strand }}:{{ gene.start }}-{{ gene.end }};
            </div>
            <div class="gene-id">
                Gene ID: {{ gene.id }};
            </div>
        </div>
        <div>
            <a class="ucsc-gene" target="_blank" rel="noopener noreferrer" href="{{ gene.href }}">
                <img src="{{ url_for('static', filename='img/ucsc.png') }}">
            </a>
        </div>
        <div>
            <img class="toggle-scale" src="{{ url_for('static', filename='img/solve-icon16.png') }}">
            <img class="zoom-in" src="{{ url_for('static', filename='img/zoom_in.png') }}">
            <img class="zoom-out" src="{{ url_for('static', filename='img/zoom_out.png') }}">
            <img class="zoom-reset" src="{{ url_for('static', filename='img/undo.png') }}">
        </div>
        <div>
            <div>
                <canvas width="500px" height="40px" class="legend"></canvas>
            </div>
            <div class="coordinates"></div>
        </div>
    </div>

    <div class="tools-menu splice-graph-tools hide-tools-menu pure-g">
        <div class="pure-u-1-3">
            <form class="splice-graph-form pure-form pure-form-aligned">
                <fieldset>
                    <div class="groups pure-control-group">
                        <label for="groups">Groups</label>
                        <select id="groups"></select>
                    </div>

                    <div class="experiments pure-control-group">
                        <label for="experiments">Experiments</label>
                        <select id="experiments">
                        </select>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Add</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1-3">
            <form class="splice-graph-form pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="junction-reads-filter">Junction Reads Filter</label>
                        <input id="junction-reads-filter" type="checkbox">
                    </div>
                    <div class="junction-filter pure-control-group">
                        <label for="reads-greater-than">Reads Greater Than</label>
                        <input id="reads-greater-than" value="0" disabled>
                    </div>
                    <div class="junction-filter pure-control-group">
                        <label for="reads-less-than">Reads Less Than</label>
                        <input id="reads-less-than" disabled>
                    </div>
                </fieldset>
            </form>
        </div>
        {% block heatmap_form %}{% endblock %}
    </div>


    <div class="tools-menu lsv-tools hide-tools-menu pure-g">
        <div class="pure-u-1-2">
            <form class="lsv-filters pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="prime-5">5 Prime</label>
                        <input type="checkbox" id="prime-5">
                    </div>
                    <div class="pure-control-group">
                        <label for="prime-3">3 Prime</label>
                        <input type="checkbox" id="prime-3">
                    </div>
                    <div class="pure-control-group">
                        <label for="exon-skipping">Exon Skipping</label>
                        <input type="checkbox" id="exon-skipping">
                    </div>
                    <div class="pure-control-group">
                        <label for="target">Target</label>
                        <input type="checkbox" id="target">
                    </div>
                    <div class="pure-control-group">
                        <label for="source">Source</label>
                        <input type="checkbox" id="source">
                    </div>
                    <div class="pure-control-group">
                        <label for="binary">Binary</label>
                        <input type="checkbox" id="binary">
                    </div>
                    <div class="pure-control-group">
                        <label for="complex">Complex</label>
                        <input type="checkbox" id="complex">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


    <div class="content">
        <div class="top">
            <div class="splice-graph-container default-view"></div>
        </div>

        <div class="bottom">
            {% block bottom %}{% endblock %}
        </div>

    </div>
{% endblock %}