{% extends 'base_summary.html' %}

{% block heatmap_form %}
    <div class="pure-u-1-3">
        <form class="heatmap-form pure-form pure-form-aligned">
            {% for stat_name in stat_names %}
                <label for="{{ stat_name }}" class="pure-radio">
                    <input id="{{ stat_name }}" type="radio" name="stat-name" value="{{ stat_name }}"
                           {% if loop.first %}checked{% endif %}>
                    {{ stat_name }}</label>
            {% endfor %}
        </form>
    </div>
{% endblock %}

{% block analysis_type_script %}
    <script>
        document.querySelector('.heatmap-form').addEventListener('change', () => {
            $('.lsv-table').DataTable().ajax.reload();
        });

        json_ajax('{{ url_for("nav", gene_id=gene.id) }}').then(json => {
            document.querySelector('.prev-gene').addEventListener('click', () => {
                window.location.href = json.prev;
            });

            document.querySelector('.next-gene').addEventListener('click', () => {
                window.location.href = json.next;
            });
        });

        json_ajax('{{ url_for("splice_graph", gene_id=gene.id) }}').then(gene => {
            const sgs = new SpliceGraphs('.splice-graph-container', {
                gene: gene,
                remove_img: '{{ url_for('static', filename='img/remove.svg')}}',
                remove_fn: event => {
                    const sg = event.target.closest('.splice-graph');
                    send_ajax('{{ url_for('psi_splice_graphs') }}', {'remove': [sg.dataset.group, sg.dataset.experiment]})
                        .then(() => {
                            sg.remove();
                            SpliceGraphTools._populate_sg_form();
                        });
                },
                download_img: '{{ url_for('static', filename='img/download.svg')}}'
            });

            const highlight_lsvs = () => {
                const hl_data = Array.from(document.querySelectorAll('.highlight-form'))
                    .map(f => {
                        const lsv_id = f.closest('.lsv').dataset.lsvId;
                        const highlight = f.querySelector('.highlight').checked;
                        const weighted = f.querySelector('.psi-weighted').checked;
                        return [lsv_id, highlight, weighted];
                    });

                send_ajax('{{ url_for("lsv_highlight") }}', hl_data).then(lsvs => {
                    sgs.highlight(lsvs);
                })

            };

            sgs.init_create().then(s => new SpliceGraphTools(s, gene, highlight_lsvs));

            document.querySelectorAll('.highlight-form')
                .forEach(h => h.addEventListener('change', (event) => {
                    const input = event.target;
                    if (input.classList.contains('psi-weighted') && input.checked) {
                        input
                            .closest('.highlight-form')
                            .querySelectorAll('.highlight')
                            .forEach(hl => hl.checked = true)
                    }

                    highlight_lsv();
                }));
        });

        document.querySelectorAll('.lsv-cartoon').forEach(async function (c) {
            const lsv_id = c.closest('.lsv').dataset.lsvId;
            json_ajax('{{ url_for("lsv_data") }}/' + encodeURIComponent(lsv_id))
                .then(lsv_data => {
                    const lsv = new Lsv(lsv_data);
                    lsv.cartoon(c)
                })
        });

        new MutationObserver(mutations => {
            mutations
                .forEach(m => m.addedNodes.forEach(n => {


                    n.querySelectorAll('.heat-map')
                        .forEach(h => {
                            const tool_tip = document.querySelector('.heat-map-tool-tip');
                            h.onmouseover = (e) => {
                                try {
                                    const val = e.target.dataset.value;
                                    if (parseInt(val) !== -1) {

                                        const stat_name = h.dataset.statName;
                                        const col = e.target.dataset.column;
                                        const col_idx = parseInt(e.target.dataset.columnIdx);
                                        const row = e.target.closest('g').dataset.row;
                                        const row_idx = parseInt(e.target.closest('g').dataset.rowIdx);

                                        tool_tip.querySelector('.stat-name').textContent = col_idx - row_idx < 0 ? stat_name : 'Delta PSI';
                                        tool_tip.querySelector('.versus').textContent = `${row}/${col}`;
                                        tool_tip.querySelector('.value').textContent = val;
                                        tool_tip.style.display = 'block';

                                        h.closest('tr')
                                            .querySelectorAll('.x-axis text')
                                            .forEach((l, idx) => {
                                                if (![col_idx, row_idx].includes(idx))
                                                    l.style.opacity = '.2'
                                            });
                                    }
                                } catch (TypeError) {
                                    // pass
                                }
                            };

                            h.onmouseout = () => {
                                tool_tip.style.display = 'none';
                                h.closest('tr')
                                    .querySelectorAll('.x-axis text')
                                    .forEach((l, idx) => {
                                        l.style.opacity = null
                                    });
                            };

                            h.onmousemove = (event) => {
                                tool_tip.style.top = (event.pageY - 90) + 'px';
                                tool_tip.style.left = (event.pageX + 10) + 'px';
                            }

                        });

                    n.querySelectorAll('.psi-violin-plot')
                        .forEach(v => {
                            v.querySelectorAll('circle')
                                .forEach(c => {
                                    const tool_tip = document.querySelector('.violin-tool-tip');
                                    c.onmouseover = () => {
                                        c.style.fill = 'orange';
                                        tool_tip.querySelector('.value').textContent = c.dataset.mu;
                                        tool_tip.querySelector('.sample').textContent = c.dataset.expName;
                                        tool_tip.style.display = 'block';
                                    };
                                    c.onmouseout = () => {
                                        c.style.fill = null;
                                        tool_tip.style.display = 'none';
                                    };
                                    c.onmousemove = (e) => {
                                        tool_tip.style.top = (e.pageY - 90) + 'px';
                                        tool_tip.style.left = (e.pageX + 10) + 'px';
                                    };
                                });

                            v.querySelectorAll('.violin, .swarm-group')
                                .forEach(h => {

                                    h.onmouseover = () => {
                                        const idx = h.dataset.groupIdx;
                                        h
                                            .closest('tr')
                                            .querySelectorAll('.heat-map rect')
                                            .forEach(r => r.dataset.columnIdx !== idx ? r.style.opacity = '0.2' : null);
                                        h
                                            .closest('tr')
                                            .querySelectorAll('.heat-map g')
                                            .forEach(g => {
                                                if (g.dataset.rowIdx === idx) {
                                                    g.querySelectorAll('rect')
                                                        .forEach(r => r.style.opacity = null)
                                                }
                                            })
                                    };

                                    h.onmouseout = () => {
                                        h
                                            .closest('tr')
                                            .querySelectorAll('.heat-map rect')
                                            .forEach(r => r.style.opacity = r.style.stroke = null)
                                    }
                                })
                        });
                }));
        })
            .observe(document.querySelector('.lsv-container'), {
                childList: true,
                subtree: true
            });


        document.querySelectorAll('.lsv-table')
            .forEach(async function (lsv_table) {
                $(lsv_table).DataTable({
                    autoWidth: false,
                    processing: true,
                    serverSide: true,
                    paging: false,
                    searching: false,
                    info: false,
                    ajax: {
                        url: '{{ url_for('summary_table') }}',
                        data: d => {
                            d['lsv_id'] = lsv_table.dataset.lsvId;
                            d['stat_name'] = document.querySelector('input[name=stat-name]:checked').value;
                        },
                        type: 'POST'
                    },
                    columnDefs: [
                        {
                            targets: 1,
                            sortable: false,
                            render: data => {

                                const violin = new Violin(data);

                                const element = document.createElement('svg');
                                element.classList.add('psi-violin-plot');
                                element.setAttribute('width', '0');
                                element.setAttribute('height', '0');

                                violin.heterogen(element);

                                return element.outerHTML
                            }
                        },
                        {
                            targets: 2,
                            sortable: false,
                            render: data => {
                                const heatmap = new HeatMap(data);
                                const element = document.createElement('svg');
                                heatmap.plot(element);
                                return element.outerHTML;
                            }
                        }
                    ]
                })
            });

        $('#results tbody')
            .on('click', '.excl-incl-rect, .dpsi-violin', event => {
                const parent = event.target.closest('td');
                const excl_incl = parent.querySelector('.excl-incl-rect');
                const violin = parent.querySelector('.dpsi-violin');
                $(violin).toggle();
                $(excl_incl).toggle();
            })
            .on('click', '.psi-violin-plot, .lsv-single-compact-percentiles', event => {
                const parent = event.target.closest('td');
                const violin = parent.querySelector('.psi-violin-plot');
                const compact = parent.querySelector('.lsv-single-compact-percentiles');
                $(violin).toggle();
                $(compact).toggle();
            });

        document.querySelectorAll('.lsv')
            .forEach(l => {
                const lsv_id = l.dataset.lsvId;
                copy_lsv_modal_dropdown(l, '{{ url_for("copy_lsv") }}/' + encodeURIComponent(lsv_id))
            })

    </script>
{% endblock %}

{% block bottom %}
    <svg height="0" width="0">
        <pattern patternUnits="userSpaceOnUse" id="diagonalHatch" width="4" height="4">
            <path d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke="grey" stroke-width="1"></path>
        </pattern>
    </svg>

    <div class="heat-map-tool-tip" style="display: none;">
        <div class="versus"></div>
        <div class="stat-name"></div>
        <div class="value"></div>
    </div>

    <div class="violin-tool-tip" style="display: none;">
        <div class="sample"></div>
        <div class="value"></div>
    </div>

    <div class="lsv-container">
        {% for lsv_id, lsv_type in lsv_data %}
            <div class="lsv" data-lsv-id="{{ lsv_id }}">
                <div class="lsv-header ">
                    <div class="highlight-form">
                        <div>
                            <label>
                                Highlight
                                <input class="highlight" type="checkbox">
                            </label>
                        </div>
                        <div>
                            <label>
                                Weighted
                                <input class="psi-weighted" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <canvas class="lsv-cartoon" width="200" height="80" data-lsv-type="{{ lsv_type }}"></canvas>
                    </div>
                    <div>
                        {{ lsv_id }}
                    </div>
                    <div>
                        <form class="pure-form pure-form-aligned">
                            <fieldset>
                                <div class="pure-control-group">
                                    <select class="copy-lsv">
                                        <option>Copy LSV</option>
                                        {% for grp in group_names %}
                                            <option value="{{ grp }}">{{ grp }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                        <a href="{{ ucsc[lsv_id] }}" target="_blank" rel="noopener noreferrer"><img
                                src="{{ url_for('static', filename="img/ucsc.png") }}"></a>
                    </div>
                </div>
                <table class="pure-table lsv-table" data-lsv-id="{{ lsv_id }}">
                    <thead>
                    <tr>
                        <th>Junctions</th>
                        <th>Violin</th>
                        <th>Heat Map</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
